@import url(_reset.css);

body {
    background-color: #b4a5c7;
}


header {
    display: flex;
    justify-content: space-evenly;
    background-color: #7e679c;
    align-items: center;
}


h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    max-width: 140px;
    width: 70%;
}

form {
    display: block;
    max-width: fit-content;
    margin: auto;
    justify-content: center;
}

label {
    display: block;
    margin: 4% 0 2%;
  }

input {
    width: 100%;
    margin-bottom: 2%;

    display: inline-flex;
}


.post {
    text-align: center;
    max-width: 650px;
    margin: auto;
    box-shadow: 4px 4px 10px 5px  rgb(100 89 89 / 100%);
    margin-bottom: 4%;
}

.post img {
    max-width: 100%;
}


.login-register-frame {
    margin: auto;
    text-align: center;
}

.login-register-frame a {
    text-decoration: underline;
    font-size: 24px;
}
.profile {
    margin: auto;
    max-width: 90%;
    text-align: center;
}

.profile img {
    max-width: 120px;
}